.section-home{
    h3{
        color: #a51a1a;
        font-size: 18px;
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        font-weight: normal;
        margin: 0px 0px 20px 3px;
    }

    h1{
        font-size: 80px;
        font-weight: bold;
        line-height: 1.1;
        margin: 0;        
    }

    h2{
        font-size: 80px;
        color: #666;
    }

    .home-buttons {
        margin-top: 50px;
        a{
            color: #a51a1a;
            font-size: 14px;
            font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
            line-height: 1;
            cursor: pointer;
            border-width: 1px;
            border-style: solid;
            border-color: #a51a1a;
            border-image: initial;
            border-radius: 3px;
            padding: 1.25rem 1.75rem;
            text-decoration: none;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        }
    }
}