.sidebar{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
    color: #fff;
    background-color: rgba(145,13,13,.8);

    .navbar-brand{
        margin: auto auto 0;
        padding: .5rem;

        .img-profile{
            max-width: 10rem;
            max-height: 10rem;
            margin-bottom: 10px;
        }

        .name{
            font-size: 22px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .title{
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    .navbar-collapse{
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 45px;
        margin-bottom: 45px;

        .navbar-nav{
            flex-direction: column;
            width: 100%;

            .nav-link{
                letter-spacing: .05rem;

                &:hover{
                    color: #fff;
                }
            }
        }
    }

    .contact{
        margin: 0 auto auto;
        font-size: 14px;
        
        a{
            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;

            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }

        .social-icons .button{
            font-size: 18px;
            display: inline-block;
            padding: .2em .3em;
        }
    }
}

@media(min-width: 992px){
    .sidebar{
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        display: block;
                    }
                }
            }
        }
    }
}