.wrapper{
    margin-left: 17rem;

    &::before{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: auto;
        display: block;
        content: " ";
        width: 17rem;
        background: url(./images/home-bg.jpg) top center no-repeat #bababa;
        background-size: cover;
    }
}

section{
    padding-top: 5rem!important;
    padding-bottom: 5rem!important;
    max-width: 75rem;

    .title{
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        white-space: nowrap;
        font-size: 32px;

        &:after{
            content: "";
            display: block;
            height: 1px;
            width: 400px;
            background-color: #a51a1a;
            position: relative;
            top: 5px;
            margin-left: 20px;
        }
    }
}

.resume-item {
    .subheading{
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        font-size: 1.2rem;
        color: #a51a1a;
        
        a{
            color: #a51a1a;
        }
    }

    .resume-date{
        min-width: none;
        color: #a51a1a;
    }
}

.contact-section dl{
    overflow: hidden;

    dt{
        display: block;
        float: left;
        clear: both;
        width: 150px;
    }

    dd{
        display: block;
        float: left;
        margin: 0;

        a{
            color: #a51a1a;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }

            i{
                display: inline-block;
                width: 1em;
                text-align: center;
                margin-right: .2em;
            }
        }
    }
}

@media (min-width: 992px){
    section{
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
    }
}

@media(min-width: 768px){
    section{
        min-height: 100vh;
    }

    .resume-item .resume-date{
        min-width: 18rem;
    }
}