a{
    color: #a51a1a;
}

.wrapper{
    padding-top: 45px;
}

.sidebar{
    color: #fff;
    background-color: rgba(145,13,13,.8);

    .navbar-brand{
        .img-profile{
            max-width: 10rem;
            max-height: 10rem;
            margin-bottom: 10px;
        }

        .name{
            font-size: 22px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .title{
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    .navbar-collapse{
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        font-size: 15px;
        text-transform: uppercase;

        .navbar-nav{
            .nav-link{
                letter-spacing: .05rem;

                &:hover{
                    color: #fff;
                }
            }
        }
    }

    .contact{
        margin: 0 auto auto;
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        font-size: 15px;
        
        span{
            text-transform: uppercase;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 15px;
        }

        a{
            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;

            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }

        .social-icons .button{
            font-size: 22px;
            display: inline-block;
            padding: .2em .3em;
        }
    }
}

section{
    padding-top: 5rem!important;
    padding-bottom: 5rem!important;
    max-width: 75rem;

    .title{
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        white-space: nowrap;
        font-size: 32px;
        text-transform: uppercase;;

        &:after{
            content: "";
            display: block;
            height: 1px;
            width: 400px;
            background-color: #a51a1a;
            position: relative;
            top: 5px;
            margin-left: 20px;
        }
    }
}

.section-home{
    h3{
        color: #a51a1a;
        font-size: 18px;
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        font-weight: normal;
        margin: 0px 0px 20px 3px;
    }

    h1{
        font-size: 80px;
        font-weight: bold;
        line-height: 1.1;
        margin: 0;        
    }

    h2{
        font-size: 80px;
        color: #666;
    }

    .home-buttons {
        margin-top: 50px;
        
        a{
            font-size: 14px;
            font-weight: bold;
            font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
            line-height: 1;
            cursor: pointer;
            border-width: 1px;
            border-style: solid;
            border-color: #a51a1a;
            border-image: initial;
            border-radius: 3px;
            padding: 1.25rem 1.75rem;
            text-decoration: none;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        }
    }
}

.resume-item {
    .subheading{
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        font-size: 1.2rem;
        color: #a51a1a;
    }

    .resume-date{
        min-width: none;
        color: #a51a1a;
    }
}

.contact-section dl{
    overflow: hidden;

    dt{
        display: block;
        float: left;
        clear: both;
        width: 150px;
    }

    dd{
        display: block;
        float: left;
        margin: 0;

        a{
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }

            i{
                display: inline-block;
                width: 1em;
                text-align: center;
                margin-right: .2em;
            }
        }
    }
}

.dev-icons{
    .list-inline-item{
        margin-right: 35px;;
        img{
            max-width: 75px;
            max-height: 75px;
            height: auto;
            filter: grayscale(100%);
            transition: all .3s ease-in-out;
    
            &:hover{
                filter: none;
            }
        }
    }
}

@media (min-width: 992px){
    .wrapper{
        padding-top: 0;
        margin-left: 17rem;
    
        &::before{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: auto;
            display: block;
            content: " ";
            width: 17rem;
            background: url(./images/home-bg.jpg) top center no-repeat #bababa;
            background-size: cover;
        }
    }

    .sidebar{
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
        
        .navbar-brand{
            margin: auto auto 0;
            padding: .5rem;
        }

        .navbar-collapse{
            align-items: flex-start;
            flex-grow: 0;
            width: 100%;
            margin-top: 45px;
            margin-bottom: 45px;

            .navbar-nav{
                flex-direction: column;
                width: 100%;
                .nav-item{
                    .nav-link{
                        display: block;
                    }
                }
            }
        }
    }

    section{
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
    }
}

@media(min-width: 768px){
    section{
        min-height: 100vh;
    }

    .resume-item .resume-date{
        min-width: 18rem;
    }
}