@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';

body {
  margin: 0;
  font-family: Calibre, "San Francisco", "SF Pro Text", 
    -apple-system, system-ui, BlinkMacSystemFont, Roboto, 
    "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-weight: 300;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-moz-selection {
  color: #fff;
  background: #a51a1a
}

::selection {
  color: #fff;
  background: #a51a1a
}
